.banner .swiper {
    width: 420px;
    height: 450px;
  }
  
  .banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    position: relative;
    transition: 0.3s;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    left: -20px;
    
  }
  
  .banner .swiper-slide:nth-of-type(1) {
    background-image: url('src/assets/book1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner .swiper-slide:nth-of-type(2) {
    background-image: url('src/assets/book5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner .swiper-slide:nth-of-type(3) {
    background-image: url('src/assets/book2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner .swiper-slide:nth-of-type(4) {
    background-image: url('src/assets/book3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner .swiper-slide:nth-of-type(5) {
    background-image: url('src/assets/book6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

  